@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';

@layer components {

  /* Typography Utilities */
  .text-heading-hero {
    @apply font-bold lg:text-[96px] lg:leading-[100px] tracking-normal text-[36px] leading-[120%];
  }

  .text-heading-1 {
    @apply font-bold text-[36px] leading-[40px] tracking-[0%];
  }

  .text-heading-2 {
    @apply font-medium lg:text-[32px] lg:leading-[36px] tracking-normal text-[20px];
  }

  .text-heading-3 {
    @apply font-semibold lg:text-[28px] lg:leading-[34px] text-[24px] leading-[26px] tracking-normal;
  }

  .text-heading-4 {
    @apply font-bold text-[24px] leading-[28px] tracking-[0%];
  }

  .text-subtitle-1 {
    @apply font-semibold text-[16px] leading-[24px] tracking-normal uppercase;
  }

  .text-subtitle-2 {
    @apply font-bold lg:text-[20px] lg:leading-[24px] text-[14px] leading-[20px] tracking-[0%] uppercase;
  }

  .text-subtitle-3 {
    @apply font-bold lg:text-[18px] lg:leading-[24px] text-[14px] leading-[18px] tracking-[0%] uppercase;
  }

  .text-subtitle-welcome {
    @apply font-medium lg:text-[36px] lg:leading-[36px] tracking-normal text-[22px] leading-[28px];
  }

  .text-body-large {
    @apply font-normal lg:text-[20px] lg:leading-[28px] tracking-normal text-[16px] leading-[26px];
  }

  .text-body-normal {
    @apply font-normal lg:text-[16px] lg:leading-[24px] tracking-normal text-[12px] leading-[18px];
  }

  .text-body-serif-large {
    @apply font-normal italic text-[24px] leading-[30px] tracking-normal font-serif;
  }

  .text-stat-number {
    @apply font-extrabold lg:text-[64px] lg:leading-[70px] text-[48px] tracking-normal;
  }

  .text-stat-label {
    @apply font-normal lg:text-[20px] lg:leading-[24px] text-[16px] leading-[12px] tracking-normal;
  }

  .text-input {
    @apply font-normal text-[14px] leading-[16px] tracking-[0px];
  }

  .text-btn {
    @apply font-normal text-[14px] leading-[18px] tracking-normal;
  }

  .text-heading-2-semibold {
    @apply font-semibold lg:text-[32px] lg:leading-[36px] leading-[28px] text-[20px] tracking-normal;
  }

  .text-subtitle-dense {
    @apply font-semibold lg:text-[16px] lg:leading-[18px] tracking-normal uppercase text-[14px] leading-[18px];
  }

  .text-card-title {
    @apply font-semibold md:text-[18px] md:leading-[22px] text-[16px] leading-[20px] max-sm:text-[#2B2B2BCC] tracking-normal uppercase;
  }

  .text-body-medium {
    @apply font-normal lg:text-[18px] lg:leading-[28px] text-[16px] leading-[26px] tracking-normal;
  }

  .text-title-blog {
    @apply font-semibold text-[20px] leading-tight;
  }

  .text-heading-4-semibold {
    @apply font-semibold lg:text-[24px] lg:leading-[28px] text-[16px] leading-[24px] tracking-normal;
  }

  .text-nav-logo {
    @apply font-semibold text-[20px] leading-[24px] tracking-[0%];
  }

  .text-nav-link {
    @apply font-medium text-[16px] leading-[18px] tracking-[0%];
  }

  .text-btn-small {
    @apply font-medium text-[12px] leading-[14px] tracking-[0%];
  }

  .text-tag {
    @apply font-semibold md:text-[20px] text-[16px] leading-[28px] tracking-[0%];
  }

  .text-link-sidebar {
    @apply font-semibold text-[18px] leading-[24px] tracking-normal;
  }

  .text-heading-2-bold {
    @apply font-bold text-[32px] leading-[36px] tracking-normal;
  }

  .text-body-semibold {
    @apply font-semibold text-[16px] leading-[24px] tracking-normal;
  }

  .text-testimonial-quote {
    @apply font-normal md:text-[24px] md:leading-[34px] text-[16px] leading-[26px] tracking-normal;
  }
}

body {
  background-color: #f0f1f5;
}

.bg-blog {
  background-image: url('/blog-backdrop.webp');
  background-size: cover;
  background-position: center;
}

.bg-hero {
  background-image:
    linear-gradient(rgba(19, 25, 39, 0.6),
      rgba(19, 25, 39, 0.6)),
    url("/hero.webp");
  background-size: cover;
  background-position: center;
}

.button-gradient {
  background: linear-gradient(63.74deg, #C84E26 39.02%, #622613 108.24%);
}

.button-gradient2 {
  background: linear-gradient(251.06deg, #FFFFFF -33.11%, #999999 103.79%);

}

.bg-client {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.78),
      rgba(0, 0, 0, 0.78)),
    url('/clientbg.webp');
  background-size: cover;
  background-position: center;
}

.bg-convo {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)),
    url('/convo_backdrop.webp');
  background-size: cover;
  background-position: center;
}

.bg-team {
  background-image:
    linear-gradient(#13192799, #13192799),
    url('/team_backdrop.webp');
  background-position: center;
  background-size: cover;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-testimonials {
  background-image:
    linear-gradient(#13192799, #13192799),
    url('/093f1f611129cb3df0efcb0442693cd3f26227d8.webp');
  background-size: cover;
  background-position: center;
}

.bg-real-cta {
  background-image:
    linear-gradient(#131927B2, #131927B2),
    url('/6a04cc245a249f11f867daf33efbfe7ee578e924.webp');
  background-size: cover;
  background-position: center;
}

.bg-experience {
  background-image:
    linear-gradient(#131927B2, #131927B2),
    url('/exp.webp');
  background-size: cover;
  background-position: center;
}

.bg-info {
  background-image:
    linear-gradient(#13192799, #13192799),
    url('/6a04cc245a249f11f867daf33efbfe7ee578e924.webp');
  background-size: cover;
  background-position: center;
}

.legacy {
  background-image: linear-gradient(#131927CC, #131927CC),
    url('/6a04cc245a249f11f867daf33efbfe7ee578e924.webp');
  background-size: cover;
  background-position: center;
}

.bg-expertise {
  background-image: linear-gradient(#00000099, #00000099),
    url('/17828c2b2598cdbb6c448c7224949a7c8d17fc17.webp');
  background-size: cover;
  background-position: center;
}

.bg-matters {
  background-image: linear-gradient(#00000099, #00000099),
    url('/f4a3a10015d419986cdd80da18aef8e0598cd9e9.webp');
  background-size: cover;
  background-position: center;
}

.bg-rtn {
  background-image: linear-gradient(#13192799, #13192799),
    url('/7e4eea6126b560ebba80f6166206d54a4fbf4d11.webp');
  background-size: cover;
  background-position: center;
}

.bg-rtn-1 {
  background-image: linear-gradient(#13192799, #13192799),
    url('/7e4eea6126b560ebba80f6166206d54a4fbf4d11.webp');
  background-size: cover;
  background-position: center;
}

.bg-plans {
  background-image: linear-gradient(#13192799, #13192799),
    url('/47c0c2be74d9ada1a98ee93b23ccafb4e5d2b85a.webp');
  background-size: cover;
  background-position: center;
}

.bg-expense {
  background-image: linear-gradient(#13192799, #13192799),
    url('/87d76665a830f518d43649a502560ebe30356db5.jpg');
  background-size: cover;
  background-position: center;
}



@media(max-width:768px) {
  .bg-convo {
    background-image: none;
  }

  .bg-team {
    background-image: none;
  }

  .bg-testimonials {
    background-image: url('/bce38cb0abe91a1c6af5264f2ab5f6470c012483.jpg');
    box-shadow:
      inset 0 -220px 360px rgba(10, 40, 90, 0.45),
      inset 0 -320px 520px rgba(5, 20, 60, 0.35);
  }

  .bg-experience {
    background-image: none;
  }

  .bg-mv {
    background-image:
      linear-gradient(#00000099, #00000099),
      url('/17828c2b2598cdbb6c448c7224949a7c8d17fc17.webp');
    background-position: center;
    background-size: cover;
  }

  .bg-matters {
    background-image:
      linear-gradient(#00000080, #00000080),
      url('/d0ba57899d54aa8adc1121597e588ddf707d9ee7.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-expense {
    background-image: linear-gradient(#00000099, #00000099),
      url('/87d76665a830f518d43649a502560ebe30356db5.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-plans {
    background-image: none;
  }

  .bg-rtn-1 {
    background-image: linear-gradient(146.79deg, #1E223F -365.59%, rgba(19, 25, 39, 0.8) 218.54%),
      url('/a4405d4e69b5c51ab71a40cd8b682a66fa4b87ab.webp');
    background-size: cover;
    background-position: center;
  }
}